<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card" style="width: 25rem; height: 28rem;"> 
    <div class="card-body">
      <%= render "form", article: @article %>
    </div>
  </div>
</div>